{% extends 'website/base.html' %}


{% block style_script %}

<style>
  table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }

  td {
    padding: 10px 0;
  }
  
  #map-canvas{
      margin-top: 3px;
      border: 1px solid Grey;
      width:975px;
      height:500px;
  }

  .w3-btn {
    margin-bottom:10px;
    font-size: 24px;
  }

</style>
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
    
<title>Agronomy</title>
    
{% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?v=3.10&sensor=false&.js"></script>
     <script type='text/javascript' src="https://www.google.com/jsapi?.js"></script> 

{% endblock %}



{% block middle %}








    <div class="container-fluid">
        <div class = "row">

            <div class = "col-md-3" >
                <div class="colHeight" id="left-panel">
                </div>
            </div>
            
            <div class = "col-md-9">
                <div >
                    <center><div id="map-canvas" style="width: 100vw;height: 100vh"></div><center>
                </div>
            </div>

        </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?v=3.10&sensor=false&.js"></script>
     <script type='text/javascript' src="https://www.google.com/jsapi?.js"></script>  




    <script>

      function drawChart(marker,id) {
               var shyamSyntax = [];
                        
            $.getJSON("https://aqueous-island-54862.herokuapp.com/cropcultivated/person/"+id,function(result){
                      result.crops.forEach(function(data){
                          shyamSyntax.push([data.crop_cultivated,parseInt(data.area)]);

                      });
                       var dat = new google.visualization.DataTable();
                    dat.addColumn('string', 'Topping');
                    dat.addColumn('number', 'Slices');
                    dat.addRows(shyamSyntax);

                    // Set chart options
                    var options = {'title':'Crop Cultivated @ ',
                                   'width':400,
                                   'height':150};
                                   
                    var node        = document.createElement('div'),
                        infoWindow  = new google.maps.InfoWindow(),
                        chart       = new google.visualization.PieChart(node);
                        
                        chart.draw(dat, options);
                        infoWindow.setContent(node);
                        infoWindow.open(marker.getMap(),marker);
                        console.log(result);
                        marker.addListener('click', function(event) {
                            window.location = "static/website/unity/crop/index.html?area=" + result.crops[0].area + "&name1=" + result.crops[0].crop_cultivated + "&area2="+result.crops[1].area + "&name2=" + result.crops[1].crop_cultivated;
                        });
                  });
        
        // Create the data table.
       
      }



        var citymap = {
        chicago: {
          center: {lat: 41.878, lng: -87.629},
          population: 2714856
        },
        newyork: {
          center: {lat: 40.714, lng: -74.005},
          population: 8405837
        },
        losangeles: {
          center: {lat: 34.052, lng: -118.243},
          population: 3857799
        },
        vancouver: {
          center: {lat: 49.25, lng: -123.1},
          population: 603502
        }
      };





        var lat = 13.554653400463117;
        var lng = 80.02738224029542;
        var map, points = [];

        
        function yourFunction(lat, lng)
        {
            window.location.href = 'redirect/'+lat+'/'+lng+'/'
        }


        function left_panel()
        {
            var x=window.location.hostname;

            var html = "<h3 class='centerText'> Present </h3><br>";
            html += 
            `<div class="list-group" style="background-color:#008080">
        <a href="/?a=3" class="list-group-item active household">
          Household
        </a>
        <a href="/?a=1" class="list-group-item farm">
          Farms
        </a>
        <a href="/?a=2" class="list-group-item wells">
          Wells
        </a>
      </div>`;


            document.getElementById("left-panel").innerHTML = html;

        }


        function init(){

            var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};  
            url=location.search;

var a=getUrlParameter('a') ;
            left_panel();
var fform='<div id="form">'+
      +'<table>'+
      +'<tr>'+'<td>Name:</td> <td><input type="text" id="name"/> </td> </tr>'+
      '<tr><td>Address:</td> <td><input type="text" id="address"/> </td> </tr>'+
      '<tr><td>Type:</td> <td><select id="type"> '+
                 '<option value="bar" SELECTED>bar</option>'+
                 '<option value="restaurant">restaurant</option>'+
                 '</select> </td></tr>'+
                 '<tr><td></td><td><input type="button" value="Save" onclick="saveData()"/></td></tr>'+
      '</table></div>';

  map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 6,
          center: {lat: 8, lng:10},
          mapTypeId: 'terrain'
        });
   for (var city in citymap) {          
        }

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        



        if ( a=='1')
        {



          $(".farm").addClass("active");
          $(".household").removeClass("active");
          $(".wells").removeClass("active");
       $.getJSON("http://10.0.3.23:1081/farm/?format=json",function(result){
          result.forEach(function(element){
            var farmer_details = element;
            $.getJSON("http://10.0.3.23:1081/points/"+ element.id + "/?format=json",function(result2){
                data = [];

                result2.forEach(function(element){
                  coordinate = {lat:parseFloat(element.lat),lng:parseFloat(element.lon)};
                  data.push(coordinate);
                });
                console.log(data[0].lng);
                var myLatlng = new google.maps.LatLng(parseFloat(data[0].lat),parseFloat(data[0].lng));


                var marker = new google.maps.Marker({
                    position: myLatlng,
                    icon:'http://s2.updatestar.net/img/icons/2314705.32.png',
                    title:"3D"
                });
                marker.setMap(map);
                
                var area = new google.maps.Polygon({
                    paths: data,
                    strokeColor: '#AAA',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35
                  });
                  area.setMap(map);

                  area.addListener('click', function(event){
                    drawChart(marker,result2[0].farm_id);


                  });
                  
            });
        });
                
            });
   }
   if(a=='2'){


// To add the marker to the map, call setMap();
marker.setMap(map);
    $(".farm").addClass("active");
          $(".household").removeClass("active");
          $(".wells").removeClass("active");
          $(".farm").removeClass("active");
          $(".household").removeClass("active");
          $(".wells").addClass("active");
   $.getJSON("http://10.0.3.23:1081/well/",function(result){
                result.forEach(function(element){
                  var marker = new google.maps.Marker({
                    position: {lat:parseFloat(element.lat),lng:parseFloat(element.lon)},
                    map: map,
                    icon:'http://imagineadaywithoutwater.org/sites/imagineadaywithoutwater.org/themes/drybs/favicon.ico',
                    title: 'Household'
                  });

                  marker.addListener('click', function(event) {
                    $.getJSON("http://10.0.3.23:1081/wateryield/"+ element.id+"/",function(response){
                      infoWindow = new google.maps.InfoWindow;
                     
                      infoWindow.setContent("<p>Well Details </p>" +"<br><p> Water Yield : " + response.yieldd + "<br> <p>Date Measured : " + response.DateTimeField +"</p>"+
                        "<br/><a href='/static/website/unity/index.html?wateryield=" +response.yieldd + "&depth=100'>" + '<button class="btn btn-info button">3D</button></a>');
                       infoWindow.open(map,marker);
                    });
                  });
                });
              });
}
if(a==undefined ||a=='3'){

        $(".farm").removeClass("active");
          $(".household").addClass("active");
          $(".wells").removeClass("active");


            $.getJSON("http://10.0.3.23:1081/household/",function(result){
                result.forEach(function(element){
                        coords = {lat:parseFloat(element.Households_lat),lng:parseFloat(element.Households_lon)};
                                var marker = new google.maps.Marker({
                            position:coords,
                            map: map,
                            icon:'https://i1.wp.com/vilaggio.net/wp-content/uploads/2017/04/home-house-icon-30021.png?fit=32%2C32',
                            title: 'Household'
                         });

                          $.getJSON("https://aqueous-island-54862.herokuapp.com/profit/person/" + element.Households_vilid ,function(coordsi) {
                              return function(result) {

                                if(parseInt(result[0].profit)<10000)
                                {
                                  var cityCircle = new google.maps.Circle({
                                    strokeColor: '#FF0000',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 2,
                                    fillColor: '#FF0000',
                                    fillOpacity: 0.35,
                                    map: map,
                                    center: coordsi,
                                    radius: Math.sqrt(citymap[city].population) * 100
                                  });
                                }
                                else if(parseInt(result[0].profit)<100000)
                                {
                                  var cityCircle = new google.maps.Circle({
                                    strokeColor: '#00FF00',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 2,
                                    fillColor: '#00FF00',
                                    fillOpacity: 0.35,
                                    map: map,
                                    center: coordsi,
                                    radius: Math.sqrt(citymap[city].population) * 200
                                  });
                                }
                                else 
                                {
                                  var cityCircle = new google.maps.Circle({
                                    strokeColor: '#0000FF',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 2,
                                    fillColor: '#0000FF',
                                    fillOpacity: 0.35,
                                    map: map,
                                    center: coordsi,
                                    radius: Math.sqrt(citymap[city].population) * 300
                                  });
                                }
                              };
                            }(coords));
                         marker.addListener('click', function(event) {
                              info = new google.maps.InfoWindow;
                              infoWindow.setContent("<p>House hold Image </p>" +"<br>" + '<img src="https://aqueous-island-54862.herokuapp.com/householdimage/'+ element.id+'" style="height:100px;width:200px"/>');
                              infoWindow.open(map,marker);
                              
                 });
                });
            });
            }       
        }
        window.onload = init;

      google.load('visualization', '1.0', {'packages':['corechart']});
    </script>


    
{% endblock %}